
body, html {
height: 100%;
font-family: 'Poppins', sans-serif;
}

* {
box-sizing: border-box;
}

.Login-Box {
background-image: url("Login BG.jpg");
min-height: 780px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.Login-Box h1 {
    padding-left: 80px;
}

.container {
position: absolute;
top: 30%;
left: 40%;
margin: 20px;
max-width: 300px;
padding: 16px;
background-color: white;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
border-radius: 10px;
}

.btn {
background-color: #007BFF;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
border-radius: 10px;
}

.btn:hover {
opacity: 1;
}

#Forgot {
    font-size: 13px;
    text-decoration: none;
    margin-left: 30%;
    color: #888282;
}